# In class exercises - Intro to Pandas Series and DataFrames

## Import libs

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os
cwd = os.getcwd()

## First import 'response_time_data.csv' data file
* Contains RTs from 800 trials of a simple detection task from each of 20 subjects
* Organizing into a DataFrame and then saved out in csv format
* The index (row) and column labels are encoded in the csv file, so you'll need to read those in explcitly
* Make sure to have a look at the DataFrame - use the df.head() function

In [4]:
file_name = cwd + '/response_time_data.csv'
df = pd.read_csv(file_name, index_col=0, header=0)
df.head()

,Sub0,Sub1,Sub2,Sub3,Sub4,Sub5,Sub6,Sub7,Sub8,Sub9,Sub10,Sub11,Sub12,Sub13,Sub14,Sub15,Sub16,Sub17,Sub18,Sub19
Tri0,2797.224240,1039.571212,4045.345952,3530.934210,2410.276348,6541.494156,1977.919842,2343.555594,143.695964,8147.939691,5183.942423,4548.240971,2076.921296,4230.548795,4134.589984,2067.132295,4087.049471,2704.327437,2790.476384,5141.106292
Tri1,786.895089,3076.223066,1033.310418,3758.043454,4000.805778,2756.802996,2918.768116,2613.934992,2655.684434,7410.337807,3182.903975,4324.103096,1843.506277,1338.453235,2693.772203,7239.094853,1320.715043,4449.372349,1085.884483,3556.231671
Tri2,3516.902396,4632.818016,4874.066155,3031.377402,2485.677228,4929.841314,435.950399,3059.241733,2923.325600,3530.389021,3002.555229,7537.781867,1989.249165,4513.510928,4473.733040,7422.364759,3338.164717,4840.676786,2721.343095,1972.689272
Tri3,333.881830,104.448476,2304.093856,586.098266,4575.178155,2365.682721,1285.101296,5050.566343,2446.870606,5096.855057,1047.603006,5431.187785,2879.554454,311.319060,2814.385809,3396.500194,1324.780081,1518.991979,1676.395223,2051.924695
Tri4,6790.330061,2629.751046,3148.222058,1894.867975,2274.057485,8186.457041,1195.253881,3747.385847,1456.694541,3437.159878,6745.578676,4101.871682,1944.773775,1571.942134,3186.806328,6588.562378,2866.277989,2079.880840,1086.063139,7051.740732

## Now have a look at the data using built in Padas functionality
* Check out the max/min of each row, standard deviation, percentiles, etc.

In [34]:
d = df.describe()
d['Sub0'][1]
print('Max:')
print(df.max(axis=1))

print('\n Min:')
print(df.min(axis=1))

print('\n Std:')
print(df.std(axis=1))

print('\n 25% Percentiles')
print(df.describe(percentiles=np.linspace(0,1,11)))

Max:
Tri0       8147.939691
Tri1       7410.337807
Tri2       7537.781867
Tri3       5431.187785
Tri4       8186.457041
Tri5       5268.016210
Tri6       6009.945843
Tri7       7505.781800
Tri8       5277.547086
Tri9       5802.017010
Tri10      9493.147896
Tri11      6855.044510
Tri12      7079.723259
Tri13      7583.853123
Tri14      8460.181684
Tri15      6603.612971
Tri16      6352.487413
Tri17      7033.016570
Tri18      6076.972257
Tri19      6875.100886
Tri20      7175.587179
Tri21      9126.489066
Tri22      6952.390799
Tri23      6783.466281
Tri24     10061.049263
Tri25      6404.474740
Tri26      6221.959882
Tri27      7500.719769
Tri28      6439.059402
Tri29      6449.023514
              ...
Tri770     8775.582668
Tri771     9753.921246
Tri772     8765.415950
Tri773     8407.932097
Tri774     7119.668571
Tri775     9133.851062
Tri776     4466.085911
Tri777     8827.325748
Tri778     6830.768774
Tri779     9756.056048
Tri780     9967.211069
Tri781     6253.286042
Tri782     5583.087318
Tri783     9772.163046
Tri784     7545.226232
Tri785     5764.741121
Tri786     6650.716001
Tri787    11944.107999
Tri788     7661.254945
Tri789     7768.737201
Tri790     5387.471180
Tri791     7865.373656
Tri792     4981.495428
Tri793     6936.139635
Tri794     5213.908137
Tri795     7542.080044
Tri796     6383.009192
Tri797     7408.190559
Tri798     8621.009037
Tri799    66666.000000
Length: 800, dtype: float64

 Min:
Tri0       143.695964
Tri1       786.895089
Tri2       435.950399
Tri3       104.448476
Tri4      1086.063139
Tri5        68.184823
Tri6       501.585571
Tri7       143.606176
Tri8      1069.322671
Tri9       233.150604
Tri10      738.715809
Tri11       14.216346
Tri12       37.948280
Tri13     1124.765465
Tri14       29.286915
Tri15     1057.886020
Tri16      345.901126
Tri17      293.872467
Tri18       20.223690
Tri19      194.371185
Tri20      354.741832
Tri21      385.817210
Tri22      105.080751
Tri23      567.936693
Tri24       32.019499
Tri25      259.467407
Tri26      587.611647
Tri27       23.429444
Tri28      765.461186
Tri29      213.195206
             ...
Tri770     201.555076
Tri771     968.723980
Tri772     253.650458
Tri773     788.957415
Tri774     234.181038
Tri775     478.139010
Tri776       2.748561
Tri777      98.144376
Tri778     478.314962
Tri779     169.207955
Tri780    1168.414376
Tri781    1109.216533
Tri782      91.023169
Tri783     801.468903
Tri784     264.197193
Tri785      68.064516
Tri786     474.145463
Tri787     859.124963
Tri788     174.671708
Tri789     769.815872
Tri790      23.718172
Tri791    1025.562265
Tri792     154.592033
Tri793     411.802772
Tri794     264.346041
Tri795     136.751172
Tri796      39.055602
Tri797     142.867085
Tri798      15.529804
Tri799     289.417464
Length: 800, dtype: float64

 Std:
Tri0       1876.863397
Tri1       1817.540782
Tri2       1716.308057
Tri3       1660.179746
Tri4       2231.765144
Tri5       1573.211978
Tri6       1439.639592
Tri7       2352.641780
Tri8       1319.850887
Tri9       1721.335760
Tri10      1912.459948
Tri11      1937.794339
Tri12      1840.218764
Tri13      1658.815109
Tri14      2457.077752
Tri15      1405.142242
Tri16      1671.517299
Tri17      1770.244515
Tri18      1714.695654
Tri19      2100.098665
Tri20      1598.741822
Tri21      2851.251714
Tri22      1909.808391
Tri23      1806.361143
Tri24      2340.749906
Tri25      1790.237107
Tri26      1745.761296
Tri27      2016.010462
Tri28      1902.922779
Tri29      1519.260807
              ...
Tri770     2490.699939
Tri771     2247.886244
Tri772     1942.184542
Tri773     2106.884781
Tri774     1941.918328
Tri775     2309.092739
Tri776     1421.065140
Tri777     1905.770089
Tri778     1708.065519
Tri779     2749.125263
Tri780     2311.090449
Tri781     1385.007017
Tri782     1726.907044
Tri783     1994.585678
Tri784     1912.140953
Tri785     1582.353830
Tri786     1869.312360
Tri787     2386.967296
Tri788     1610.624777
Tri789     2269.712461
Tri790     1467.651474
Tri791     1701.246657
Tri792     1396.011791
Tri793     1777.496972
Tri794     1385.099709
Tri795     2436.097320
Tri796     1703.669084
Tri797     1937.936032
Tri798     2167.106141
Tri799    14409.466450
Length: 800, dtype: float64

 25% Percentiles
               Sub0         Sub1         Sub2         Sub3         Sub4  \
count    800.000000   800.000000   800.000000   800.000000   796.000000
mean    3492.614323  2549.787915  2498.108943  3502.338174  2489.637962
std     1779.474153  1476.122674  1434.749989  1722.695784  1394.508376
min       14.891233    14.197194    28.100837    23.429444     4.830230
0%        14.891233    14.197194    28.100837    23.429444     4.830230
10%     1280.298910   788.122892   682.958309  1323.412995   811.436918
20%     2035.870381  1251.122243  1243.207062  1962.116149  1258.646954
30.0%   2438.100447  1615.897650  1658.541876  2383.386926  1601.199188
40%     2889.007506  1972.958949  1989.889593  2949.722677  2002.117005
50%     3356.267518  2332.504240  2378.456796  3425.256242  2331.301722
60.0%   3740.366755  2763.921898  2719.400737  3869.097443  2690.915179
70%     4303.696176  3257.366411  3078.585314  4352.440359  3148.080294
80%     4900.963424  3816.851327  3640.203810  4934.546415  3664.223250
90%     5926.696407  4593.590254  4433.854166  5906.446116  4407.286901
100%   10681.396388  9612.953879  7980.653894  9126.489066  7711.685320
max    10681.396388  9612.953879  7980.653894  9126.489066  7711.685320

               Sub5         Sub6          Sub7          Sub8          Sub9  \
count    800.000000   800.000000    799.000000    800.000000    798.000000
mean    4583.557298  2587.373753   3528.493482   1587.012676   4367.761563
std     2544.771595  1529.182544   2000.548574   1302.153904   1935.519959
min      136.740733    10.661701     18.233925      0.901251     58.093045
0%       136.740733    10.661701     18.233925      0.901251     58.093045
10%     2053.132337   734.672334   1278.189495    300.885480   2049.532014
20%     2725.417152  1302.412896   2007.157137    626.462492   2728.453735
30.0%   3316.755210  1665.966369   2468.045414    890.204443   3305.755365
40%     3882.487303  2066.566977   2852.393291   1173.261159   3655.342826
50%     4343.188218  2401.344493   3265.333326   1452.880612   4204.734801
60.0%   4886.624499  2821.699634   3750.956176   1712.205643   4649.293174
70%     5530.180149  3224.881671   4281.233123   1970.946924   5230.977153
80%     6264.009711  3758.233027   4954.885476   2442.071594   5908.901288
90%     7207.953046  4575.267954   5931.093221   2893.933086   6920.818760
100%   45454.000000  9873.851872  29023.000000  24567.000000  12121.359168
max    45454.000000  9873.851872  29023.000000  24567.000000  12121.359168

              Sub10         Sub11         Sub12        Sub13         Sub14  \
count    800.000000    789.000000    800.000000   797.000000    797.000000
mean    3435.810762   4549.103034   2692.333031  2552.094429   4462.378792
std     1745.629161   2662.686275   2898.418570  1452.494803   2151.655387
min       26.364155     22.733277     14.216346     4.059415     96.592213
0%        26.364155     22.733277     14.216346     4.059415     96.592213
10%     1266.368841   2169.180211    829.614404   753.339963   1922.661866
20%     1959.886659   2799.570149   1328.387714  1222.940028   2660.934696
30.0%   2403.155445   3343.045803   1745.134012  1633.176836   3172.622006
40%     2894.113311   3787.596501   2104.091380  2045.928981   3750.616715
50%     3279.606963   4350.778773   2419.020780  2423.938126   4173.081612
60.0%   3701.145030   4834.171442   2767.457328  2773.242090   4722.037228
70%     4213.871646   5481.432624   3134.704342  3241.824176   5381.485239
80%     4887.802952   6098.321540   3758.595906  3811.955549   6208.662940
90%     5802.802949   7016.362589   4450.083199  4503.330551   7319.307341
100%   10429.685156  56789.000000  66666.000000  9136.326298  11900.172137
max    10429.685156  56789.000000  66666.000000  9136.326298  11900.172137

              Sub15        Sub16         Sub17        Sub18         Sub19
count    800.000000   800.000000    785.000000   793.000000    800.000000
mean    4534.814089  2478.180462   2583.731375  2495.609643   4454.240975
std     1976.030065  1497.644375   2648.316102  1456.803723   2051.493761
min       33.341363     9.004269      3.313442     7.725184      2.748561
0%        33.341363     9.004269      3.313442     7.725184      2.748561
10%     2105.012353   590.636843    855.185826   642.705095   1877.697360
20%     2781.464848  1168.693218   1289.153501  1196.719171   2648.690007
30.0%   3462.539128  1574.292744   1626.011464  1611.063658   3236.187052
40%     3843.719447  1898.359878   1979.826403  1995.563031   3815.974568
50%     4386.667440  2336.277878   2384.647753  2398.363559   4309.543161
60.0%   4854.985862  2706.026328   2669.848399  2726.322254   4885.289173
70%     5456.075715  3120.687042   3056.962784  3083.725204   5519.374552
80%     6225.741233  3662.261925   3618.107270  3702.623954   6256.120759
90%     7253.891564  4432.300341   4467.612886  4541.488096   7094.849590
100%   11944.107999  8678.777609  65432.000000  7930.422240  12181.427300
max    11944.107999  8678.777609  65432.000000  7930.422240  12181.427300

## Are there missing values (NaNs) in the data?

In [40]:
print(np.sum(np.isnan(df), axis=0))
if np.isnan(df).any:
    print('\nThere are NaNs in the data')

Sub0      0
Sub1      0
Sub2      0
Sub3      0
Sub4      4
Sub5      0
Sub6      0
Sub7      1
Sub8      0
Sub9      2
Sub10     0
Sub11    11
Sub12     0
Sub13     3
Sub14     3
Sub15     0
Sub16     0
Sub17    15
Sub18     7
Sub19     0
dtype: int64

There are NaNs in the data

## What about outliers? Lets define outliers here as > 2 * std away from the mean for each subject
* After you've found the outliers for each subject, replace those values with a np.nan (NaN)

In [41]:
print(d)

               Sub0         Sub1         Sub2         Sub3         Sub4  \
count    800.000000   800.000000   800.000000   800.000000   796.000000
mean    3492.614323  2549.787915  2498.108943  3502.338174  2489.637962
std     1779.474153  1476.122674  1434.749989  1722.695784  1394.508376
min       14.891233    14.197194    28.100837    23.429444     4.830230
25%     2248.698649  1453.328596  1444.344991  2175.921827  1414.327797
50%     3356.267518  2332.504240  2378.456796  3425.256242  2331.301722
75%     4590.539997  3572.853241  3365.725589  4656.169105  3418.744846
max    10681.396388  9612.953879  7980.653894  9126.489066  7711.685320

               Sub5         Sub6          Sub7          Sub8          Sub9  \
count    800.000000   800.000000    799.000000    800.000000    798.000000
mean    4583.557298  2587.373753   3528.493482   1587.012676   4367.761563
std     2544.771595  1529.182544   2000.548574   1302.153904   1935.519959
min      136.740733    10.661701     18.233925      0.901251     58.093045
25%     3023.974914  1463.653167   2251.310915    779.562818   3041.108793
50%     4343.188218  2401.344493   3265.333326   1452.880612   4204.734801
75%     5820.681164  3492.770757   4570.434788   2176.914650   5507.674898
max    45454.000000  9873.851872  29023.000000  24567.000000  12121.359168

              Sub10         Sub11         Sub12        Sub13         Sub14  \
count    800.000000    789.000000    800.000000   797.000000    797.000000
mean    3435.810762   4549.103034   2692.333031  2552.094429   4462.378792
std     1745.629161   2662.686275   2898.418570  1452.494803   2151.655387
min       26.364155     22.733277     14.216346     4.059415     96.592213
25%     2158.207883   3097.106818   1555.690051  1416.478814   2901.834126
50%     3279.606963   4350.778773   2419.020780  2423.938126   4173.081612
75%     4469.254371   5802.517750   3410.062004  3532.650336   5857.058982
max    10429.685156  56789.000000  66666.000000  9136.326298  11900.172137

              Sub15        Sub16         Sub17        Sub18         Sub19
count    800.000000   800.000000    785.000000   793.000000    800.000000
mean    4534.814089  2478.180462   2583.731375  2495.609643   4454.240975
std     1976.030065  1497.644375   2648.316102  1456.803723   2051.493761
min       33.341363     9.004269      3.313442     7.725184      2.748561
25%     3125.631520  1388.524601   1461.535583  1428.315218   2991.056220
50%     4386.667440  2336.277878   2384.647753  2398.363559   4309.543161
75%     5778.168708  3407.930817   3374.458484  3368.389173   5862.156850
max    11944.107999  8678.777609  65432.000000  7930.422240  12181.427300

## After you've found the outliers and replaced with NaNs for each subject, check out this function:
[pandas.DataFrame.interpolate](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.interpolate.html#pandas.DataFrame.interpolate)

* Use this function to interpolate the missing values for each subject (do not interpolate across subjects!)
* Just use linear interpolation...

## You can explore the "Missing Values" page for Pandas to figure out other ways of filling in missing values and outliers

[page is here](https://pandas.pydata.org/pandas-docs/stable/missing_data.html#missing-data)

* Figure out how to replace the outliers with the mean of each subject

## Use the Pandas.DataFrame.Sample function to generate bootstrapped confidence intervals for the data from subject 11

[see this page for Samples](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.DataFrame.sample.html)


* Resample Sub11's data with replacement, each time pulling N samples (800 in this case)
* Generate a distribution of means across all resamples
* Compute 95% confidence intervals using:

[this page for quantiles](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.quantile.html)